[Unit]
Description=Patch hassio_supervisor container after start
After=docker.service
Wants=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/hassio-supervisor-patcher
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
